.login {
    display: grid;
    height: 100vh;
    background-color: black;
    place-items: center;
}

.login > img {
    height: 200px;
}

.login > a {
    padding: 20px;
    border-radius: 99px;
    color: white;
    text-decoration: none;
    font-weight: 800;
    background-color: #1db954;
}